{{define "user-posts"}}{{end}}

{{ define "title" }} 
    {{if .PostCards}}
        {{(index .PostCards 0).Posts.Post.Username}} Posts
    {{end}}
{{ end }}

{{define "content"}}
    <div class="container py-4">
        <!-- Actions -->
        <div class="mb-2 d-flex gap-2 justify-content-center">
            <a href="/" class="btn btn-outline-secondary">Back</a>
        </div>
        <!-- ROW 2 -->
        <div id="posts-container" class="row g-3">
            {{template "posts-list" .}}
        </div>
    </div>
{{end}}