{{ define "title" }} 
    {{if .PostCards}}
        {{(index .PostCards 0).Posts.Post.Username}} Posts
    {{end}}
{{ end }}

{{define "content"}}
<section class="col-12 p-4">
    
    <div id="posts-table" class="container py-4">
        <div>
            {{template "user-posts-search" . }}
        </div>
        <div id="posts-container" class="row g-3">
            {{template "posts-list" .}}
        </div>
    </div>
</section>
{{end}}