{{define "user-posts"}}{{end}}

{{ define "title" }} 
    {{if .PostCards}}
        {{(index .PostCards 0).Posts.Username}} Posts
    {{end}}
{{ end }}

{{define "content"}}
    <div class="container py-4">
        <!-- ROW 2 -->
        <div id="posts-container" class="row g-3">
            {{template "posts-list" .}}
        </div>
    </div>
{{end}}