# JWT
SECRET="secret_string"

# DB connection
DRIVER_NAME="postgres"
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="demo"
DB_USER="postgres"
DB_PASS="pass"
SSL_MODE="disable"

# Migrations
MIGRATIONS_PATH="././migrations"