{{ define "title" }}Posts{{ end }}

{{ define "content" }}
<section id="posts-table" class="col-12 p-4">
  {{template "post-table" . }}
</section>
  {{template "confirm-delete-user-modal" .}}
{{ end }}

{{ define "posts" }}
    
{{ end }}