{{define "post-filter"}}
    <div class="d-flex flex-row gap-2 mb-3">
        {{$f := .Filters}}
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search..." value="{{$f.search}}"
                hx-get="{{$.Pagination.Path}}"
                hx-target="#posts-table"
                hx-trigger="keyup changed delay:500ms"
                hx-push-url="true"
                hx-include="[name='approved'],[name='username'],[name='page']"
            />
        </div>
        <div>
            <select
                name="approved"
                class="form-select"
                style="width: 120px;"
                hx-get="{{$.Pagination.Path}}"
                hx-target="#posts-table"
                hx-trigger="change"
                hx-push-url="true"
                hx-include="[name='page'],[name='username'],[name='search']"
            >   
                <option value="">All</option>
                <option value="true"
                    {{if eq $f.approved "true"}}selected{{end}}>
                    Published
                </option>

                <option value="false"
                    {{if eq $f.approved "false"}}selected{{end}}>
                    Pending
                </option>
            </select>
        </div>
        <div>
            <select
                name="username"
                class="form-select"
                style="width: 120px;"
                hx-get="{{$.Pagination.Path}}"
                hx-target="#posts-table"
                hx-trigger="change"
                hx-push-url="true"
                hx-include="[name='page'],[name='approved'],[name='search']"
            >   
                <option value="">Author</option>
                {{range .Authors}}
                <option value="{{.Username}}"
                    {{if eq $f.username .Username}}selected{{end}}>
                    {{.Username}}
                </option>
                {{end}}
            </select>
        </div>
    </div>
    {{if .HasFilters}}
        <a href="/panel/posts" style="max-height: 37px;">
            <i class="bi bi-arrow-repeat" style="font-size: 25px;"></i>
        </a>
    {{end}}
{{end}}