{{define "post-filter"}}
    <div class="mb-3">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search..." value="{{.Filters.search}}"
                hx-get="{{$.Pagination.Path}}"
                hx-target="#posts-table"
                hx-trigger="keyup changed delay:500ms"
                hx-push-url="true"
                hx-include="[name='search'],[name='approved'],[name='username'],[name='page']"
            />
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Status{{if eq .Filters.approved "true"}}: Published {{else}}: Pending {{end}}
        </button>

        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item"
                href="{{withQuery $.Pagination.Path $.Filters "approved" ""}}">
                    All
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                href="{{withQuery $.Pagination.Path $.Filters "approved" "true"}}">
                    Published
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                href="{{withQuery $.Pagination.Path $.Filters "approved" "false"}}">
                    Pending
                </a>
            </li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Author 
        </button>

        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item"
                href="{{withQuery $.Pagination.Path $.Filters "username" ""}}">
                    All
                </a>
            </li>

            {{range .Authors}}
                <li>
                    <a class="dropdown-item"
                    href="{{withQuery $.Pagination.Path $.Filters "username" .Username}}">
                        {{.Username}}
                    </a>
                </li>
            {{end}}
        </ul>
    </div>

    {{if .HasFilters}}
        <a href="/panel/posts" style="max-height: 37px;">
            <i class="bi bi-arrow-repeat" style="font-size: 25px;"></i>
        </a>
    {{end}}
{{end}}