{{define "user-filter"}}
    <div class="mb-3">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search..." value="{{.Filters.search}}"
                hx-get="{{$.Pagination.Path}}"
                hx-target="#users-table"
                hx-trigger="keyup changed delay:500ms"
                hx-push-url="true"
                hx-include="[name='search'],[name='role'],[name='banned'],[name='page']"
            />
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Role
        </button>

        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item"
                href="{{withQuery $.Pagination.Path $.Filters "role" ""}}">
                    All
                </a>
            </li>
            {{range .Roles}}
                <li>
                    <a class="dropdown-item"
                    href="{{withQuery $.Pagination.Path $.Filters "role" .Role}} ">
                        {{.Role}}
                    </a>
                </li>
            {{end}}
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Status
        </button>

        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item"
                href="{{withQuery $.Pagination.Path $.Filters "banned" ""}}">
                    All
                </a>
            </li>

                <li>
                    <a class="dropdown-item"
                    href="{{withQuery $.Pagination.Path $.Filters "banned" "true"}}">
                        Banned
                    </a>
                </li>
                <li>
                    <a class="dropdown-item"
                    href="{{withQuery $.Pagination.Path $.Filters "banned" "false"}}">
                        Not Banned
                    </a>
                </li>
        </ul>
    </div>

    {{if .HasFilters}}
        <a href="/panel/users" style="max-height: 37px;">
            <i class="bi bi-arrow-repeat" style="font-size: 25px;"></i>
        </a>
    {{end}}
{{end}}