{{ define "index" }}
{{ block "header" . }}{{ end }}  

<body class="d-flex align-items-center bg-body-tertiary">
  <body>

<!-- HEADER -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyApp</a>

    <!-- Кнопка для мобилки -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Меню -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#">Главная</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Профиль</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Выход</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- MAIN LAYOUT -->
<div class="container-fluid">
  <div class="row">

    <!-- SIDEBAR -->
    <nav class="col-12 col-md-3 col-lg-2 bg-light vh-100 p-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Дашборд</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Заказы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Клиенты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Настройки</a>
        </li>
      </ul>
    </nav>

    <!-- CONTENT -->
    <main class="col-12 col-md-9 col-lg-10 p-4">
      <h1>Контент</h1>
      <p>Здесь основной контент страницы.</p>

      <div class="row">
        <div class="col-12 col-lg-6 mb-3">
          <div class="card">
            <div class="card-body">
              Карточка 1
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 mb-3">
          <div class="card">
            <div class="card-body">
              Карточка 2
            </div>
          </div>
        </div>
      </div>

    </main>

  </div>
</div>
{{ end }}