{{ define "login" }}
    {{ template "base" . }}
{{ end }}

{{ define "title" }}Log In{{ end }}

{{ define "nav" }}
<ul class="navbar-nav ms-auto">
    <li class="nav-item"><a class="nav-link" href="/auth/register">Sign In</a></li>
    <li class="nav-item"><a class="nav-link active" href="/auth/login">Login</a></li>
</ul>
{{ end }}

{{ define "content" }}
  {{template "form-login" .}}
{{ end }}

