{{ define "profile-admin" }}
    {{ template "base" . }}
{{ end }}

{{ define "title" }}Profile{{ end }}

{{ define "nav" }}
<ul class="navbar-nav ms-auto">
    <li class="nav-item"><a class="nav-link" href="/profiles">Users</a></li>
    <li class="nav-item"><a class="nav-link" hx-post="/auth/logout">Sign Out</a></li>
</ul>
{{ end }}

{{ define "content" }}
  {{template "user" .}}
{{ end }}