{{ define "nav" }}
<ul class="navbar-nav ms-auto">
    {{if eq .CurrentUserId 0}}
        <li class="nav-item"><a class="nav-link" href="/auth/signup">Sign Up</a></li>
        <li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>
    {{else}}
        <li class="nav-item">
            <a class="nav-link" href="/panel/profile/{{.CurrentUserId}}">Profile</a>
        </li>
        {{ if eq .CurrentUserRole "admin" }}
            <li class="nav-item">
                <a class="nav-link" href="/panel/users/page/1">
                    Users
                </a>
            </li>
        {{end}}
        <li class="nav-item">
            <a class="nav-link" hx-post="/auth/logout">
                Sign Out
            </a>
        </li>
    {{end}}
</ul>
{{ end }}