{{define "pagination"}}
    {{ if .Pagin.TotalPages }}
        <nav class="mt-4">
            <ul class="pagination justify-content-center">

                {{ if .Pagin.HasPrev }}
                <li class="page-item">
                    <a class="page-link" href="/profile/users/page/{{$.Pagin.PrevPage}}">
                        Prev
                    </a>
                </li>
                {{ end }}

                {{ range .Pagin.Pages }}
                <li class="page-item">
                    <a class="page-link {{if eq . $.Pagin.Page}}active{{end}}"
                    href="/profile/users/page/{{.}}">
                        {{.}}
                    </a>
                </li>
                {{ end }}

                {{ if .Pagin.ShowDots }}
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>

                <li class="page-item">
                    <a class="page-link"
                    href="/profile/users/page/{{$.Pagin.LastPage}}">
                        {{.Pagin.LastPage}}
                    </a>
                </li>
                {{ end }}

                {{ if .Pagin.HasNext }}
                <li class="page-item">
                    <a class="page-link" href="/profile/users/page/{{$.Pagin.NextPage}}">
                        Next
                    </a>
                </li>
                {{ end }}

            </ul>
        </nav>
        {{ end }}
{{end}}