{{define "user-card"}}
<div id="user-{{.Profiles.Id}}" class="col-12 col-lg-6 mb-3">
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <!-- HEADER -->
            <div class="d-flex justify-content-between align-items-start mb-3">
            
            <div>
                <h5 class="card-title mb-1">{{.Profiles.Name}}</h5>
                <div class="text-muted small">{{.Profiles.Email}}</div>
            </div>

            <!-- BANNED STATUS -->
            <div id="div-badge-{{.Profiles.Id}}" style="text-align: end;">
                <span class="badge text-bg-{{if .Profiles.Banned}}danger{{else}}success{{end}}" >
                    {{if .Profiles.Banned}} Banned  {{else}} Active {{end}}
                </span>
                <div class="text-muted small">Created At: {{.Profiles.CreatedAt.Format "02 Jan 2006"}}</div>
            </div>

            </div>

            <hr>
            <!-- ACTIONS -->
            <div id="actions-btn-{{.Profiles.Id}}" class="d-flex gap-2">
                <a hx-patch="/panel/profile/{{.Profiles.Id}}/name" class="btn btn-outline-primary btn-sm w-100">
                    Update name
                </a>
                {{if .CanBan}}
                    {{if .Profiles.Banned}}
                        <a  hx-patch="/panel/profile/{{.Profiles.Id}}/unban?view=card"
                            hx-target="#user-{{.Profiles.Id}}"
                            hx-swap="outerHTML"
                            class="btn btn-outline-secondary btn-sm w-100">
                            Unban
                        </a>
                    {{else}}
                        <a  hx-patch="/panel/profile/{{.Profiles.Id}}/ban?view=card"
                            hx-target="#user-{{.Profiles.Id}}"
                            hx-swap="outerHTML"
                            class="btn btn-outline-secondary btn-sm w-100">
                            Ban
                        </a>
                    {{end}}
                {{end}}
                {{if .CanDelete}}
                <a  hx-get="/panel/profile/{{.Profiles.Id}}/delete-confirm"
                    hx-target="#modal-container"
                    hx-swap="innerHTML"
                    class="btn btn-outline-danger btn-sm w-100">
                    Delete
                </a>
                {{end}}
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-lg-6 mb-3">
    <div class="card shadow-sm border-0 h-100">
        <div class="card-body">

            <h5 class="card-title mb-4">Statistics</h5>

            <!-- USERS -->
            <div class="mb-4">
                <div class="text-muted small text-uppercase mb-2">Users</div>

                <div class="row g-3">

                    <div class="col-6">
                        <div class="p-3 bg-light rounded-3 text-center h-100">
                            <div class="fw-bold fs-4">12</div>
                            <div class="small text-muted">Admins</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="p-3 bg-light rounded-3 text-center h-100">
                            <div class="fw-bold fs-4">34</div>
                            <div class="small text-muted">Moderators</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="p-3 bg-light rounded-3 text-center h-100">
                            <div class="fw-bold fs-4">1 248</div>
                            <div class="small text-muted">Users</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="p-3 bg-danger-subtle rounded-3 text-center h-100">
                            <div class="fw-bold fs-4 text-danger">57</div>
                            <div class="small text-muted">Banned</div>
                        </div>
                    </div>

                </div>
            </div>

            <hr class="my-4">

            <!-- POSTS -->
            <div>
                <div class="text-muted small text-uppercase mb-2">Posts</div>

                <div class="row g-3">

                    <div class="col-6">
                        <div class="p-3 bg-success-subtle rounded-3 text-center h-100">
                            <div class="fw-bold fs-4 text-success">892</div>
                            <div class="small text-muted">Published</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="p-3 bg-warning-subtle rounded-3 text-center h-100">
                            <div class="fw-bold fs-4 text-warning">73</div>
                            <div class="small text-muted">Pending</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{{end}}