{{ define "form-create-user" }}

<div class="row justify-content-center mt-4">
    <div class="col-md-6 col-lg-6">
        <form class="px-3" 
            hx-post="/panel/user/add" 
            hx-target="#result" 
            hx-swap="innerHTML"
            hx-on::after-request="
                if(event.detail.xhr.responseText.includes('alert-success')) {
                    this.reset()
                }
            ">
            <h1 class="h3 mb-3 fw-normal">Create user</h1>
            <div id="result" class="my-3"></div>

            <div class="mb-3">
                <input type="text" class="form-control" name="name" required placeholder="Name" minlength="3">
            </div>
            <div class="mb-3">
                <select name="role" class="form-select" required placeholder="Role">
                    <option value="user" selected>User</option>
                    <option value="moderator">Moderator</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" name="email" placeholder="Email" required>
            </div>
            <div class="mb-3">
                <input type="password" id="password" name="password" class="form-control" required placeholder="Password" minlength="5" maxlength="8">
                <button 
                    type="button" 
                    hx-get="/panel/generate-password"
                    hx-swap="none"
                    hx-on::after-request="
                        document.getElementById('password').value = event.detail.xhr.responseText
                    "
                    class="btn btn-secondary col-12 mt-3">
                    Generate password
                </button>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success col-12">Create</button>
            </div>
        </form>
    </div>
</div>

{{end}}