{{ define "form-edit-post" }}

<div class="row justify-content-center mt-4">
    <div class="col-md-8 col-lg-8">
        {{if .PostCards}}
        {{range .PostCards}}
        <form class="px-3" 
            hx-patch="/panel/posts/post/{{.Posts.Id}}/edit" 
            hx-target="#result" 
            hx-swap="innerHTML"
            >

            <h1 class="h3 mb-3 fw-normal">Edit post</h1>
            <div id="result" class="my-3"></div>

            <div class="mb-3">
                <input type="hidden" class="form-control" value="{{.Posts.CreatedAt}}" name="created_at">
                <input type="text" class="form-control" value="{{.Posts.Title}}" name="title" required placeholder="Title" minlength="3" maxlength="99">
            </div>
            <div class="mb-3">
                <textarea rows="5" name="excerpt" class="form-control" placeholder="Excerpt" required minlength="100" maxlength="300">{{.Posts.Excerpt}}</textarea>
            </div>
            <div class="mb-3">
                <textarea name="content" id="content" style="display:none;"></textarea>
                <div id="editor">{{.Posts.Content}}</div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success col-12">Save</button>
            </div>
            <script>
                document.body.addEventListener('htmx:configRequest', function (e) {
                    if (e.detail.elt.tagName === 'FORM') {
                        e.detail.parameters.content = window.quill.root.innerHTML;
                    }
                });
            </script>
        </form>
        {{end}}
        {{end}}
    </div>

</div>

{{end}}