{{define "user-row"}}
<tr id="user-{{ .Profiles.Id }}">
        <!-- NAME -->
        <td>
            <div class="fw-semibold">
                {{ .Profiles.Name }}
            </div>
        </td>

        <!-- EMAIL -->
        <td>
            <span class="text-muted">
                {{ .Profiles.Email }}
            </span>
        </td>

        <!-- STATUS -->
        <td>
            {{ if .Profiles.Banned }}
                <span class="badge text-bg-danger">
                    Banned
                </span>
            {{ else }}
                <span class="badge text-bg-success">
                    Active
                </span>
            {{ end }}
        </td>

        <!-- ROLE -->
        <td>
            <span class="badge text-bg-secondary">
                {{ .Profiles.Role }}
            </span>
        </td>

        <!-- CREATED -->
        <td>
            {{ .Profiles.CreatedAt.Format "02 Jan 2006" }}
        </td>

        <!-- ACTIONS -->
        <td class="text-end">
            <div class="d-flex flex-column flex-lg-row gap-2 justify-content-end">

                <a
                    href="/panel/profile/{{ .Profiles.Id }}"
                    target="_blank"
                    class="btn btn-sm btn-outline-primary">
                    View
                </a>

                {{ if .Actions.CanBanUser }}

                    {{ if .Profiles.Banned }}
                        <a
                            hx-patch="/panel/profile/{{ .Profiles.Id }}/unban?view=row"
                            hx-target="#user-{{ .Profiles.Id }}"
                            hx-swap="outerHTML"
                            class="btn btn-sm btn-outline-secondary">
                            Unban
                        </a>
                    {{ else }}
                        <a
                            hx-patch="/panel/profile/{{ .Profiles.Id }}/ban?view=row"
                            hx-target="#user-{{ .Profiles.Id }}"
                            hx-swap="outerHTML"
                            class="btn btn-sm btn-outline-secondary">
                            Ban
                        </a>
                    {{ end }}

                    {{if .Actions.CanDeleteUser}}
                        <a  hx-get="/panel/profile/{{.Profiles.Id}}/delete-confirm"
                            hx-target="#delete-modal-container"
                            hx-swap="innerHTML"
                            class="btn btn-sm btn-outline-danger">
                            Delete
                        </a>
                    {{end}}

                {{ end }}

            </div>
        </td>

    </tr>
{{end}}