{{define "post-pagin"}}
    {{ if .Pagination.TotalPages }}
        <nav class="mt-4">
            <ul class="pagination justify-content-center">

                {{ if .Pagination.HasPrev }}
                <li class="page-item">
                    <a class="page-link" href="{{withQuery $.Pagination.Path $.Filters "page" $.Pagination.PrevPage}}">
                        Prev
                    </a>
                </li>
                {{ end }}

                {{ range .Pagination.Pages }}
                <li class="page-item">
                    <a class="page-link {{if eq $.Pagination.Page .}}active{{end}}"
                        href="{{withQuery $.Pagination.Path $.Filters "page" .}}">
                        {{.}}
                    </a>
                </li>
                {{ end }}

                {{ if .Pagination.ShowDots }}
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>

                <li class="page-item">
                    <a class="page-link"
                    href="{{withQuery $.Pagination.Path $.Filters "page" $.Pagination.LastPage}}">
                        {{.Pagination.LastPage}}
                    </a>
                </li>
                {{ end }}

                {{ if .Pagination.HasNext }}
                <li class="page-item">
                    <a class="page-link" href="{{$.Pagination.Path}}?page={{$.Pagination.NextPage}}">
                        Next
                    </a>
                </li>
                {{ end }}

            </ul>
        </nav>
        {{ end }}
{{end}}