{{ define "form-create-post" }}

<div class="row justify-content-center mt-4">
    <div class="col-md-8 col-lg-8">
        <form class="px-3" 
            hx-post="/panel/post/create" 
            hx-target="#result" 
            hx-swap="innerHTML"
            hx-on::after-request="
                if(event.detail.xhr.responseText.includes('alert-success')) {
                    this.reset()
                    quill.root.innerHTML = ''
                }
            "
            >

            <h1 class="h3 mb-3 fw-normal">Create post</h1>
            <div id="result" class="my-3"></div>

            <div class="mb-3">
                <input type="text" class="form-control" name="title" required placeholder="Title" minlength="3" maxlength="99">
            </div>
            <div class="mb-3">
                <textarea rows="5" class="form-control" placeholder="Excerpt" required name="excerpt"  minlength="100" maxlength="300"></textarea>
            </div>
            <div class="mb-3">
                <textarea name="content" id="content" style="display:none;"></textarea>
                <div id="editor"></div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success col-12">Create</button>
            </div>
            <script>
                document.body.addEventListener('htmx:configRequest', function (e) {
                    if (e.detail.elt.tagName === 'FORM') {
                        e.detail.parameters.content = window.quill.root.innerHTML;
                    }
                });
            </script>
        </form>
    </div>

</div>

{{end}}