{{ define "form-submit-error" }}

{{if .FormValidationErr}}
    {{range .FormValidationErr}}
        <div class="alert alert-danger" role="alert">
            {{ .Message }}
        </div>
    {{end}}
{{end}}

{{end}}