{{ define "form-submit-success" }}

{{with .Success.UserCredentials}}
    <div class="alert alert-success" role="alert">
        <p>User successfully created! </p>
        Email: {{.Email}} <br>
        Password: {{.Password}}
    </div>
{{end}}

{{with .Success.PostCreated}}
    <div class="alert alert-success" role="alert">
        {{.Message}}
    </div>
{{end}}

{{with .Success.PostUpdated}}
    <div class="alert alert-success" role="alert">
        {{.Message}}
    </div>
{{end}}

{{end}}