{{ define "form-submit-success" }}

{{if .UserCredentials.Email}}
    <div class="alert alert-success" role="alert">
        <p>User successfully created! </p>
        Email: {{.UserCredentials.Email}} <br>
        Password: {{.UserCredentials.Password}}
    </div>
{{end}}

{{if .PostCreated.Message}}
    <div class="alert alert-success" role="alert">
        {{.PostCreated.Message}}
    </div>
{{end}}

{{if .PostUpdated.Message}}
    <div class="alert alert-success" role="alert">
        {{.PostUpdated.Message}}
    </div>
{{end}}

{{end}}