{{ define "nav" }}
<ul class="navbar-nav ms-auto">
    <li class="nav-item"><a class="nav-link" href="/profile/{{.CurrentUserId}}">Profile</a></li>
    <li class="nav-item"><a class="nav-link active" href="/profile/users">Users</a></li>
    <li class="nav-item"><a class="nav-link" hx-post="/auth/logout">Sign Out</a></li>
</ul>
{{ end }}

{{ define "users"}}
<section class="col-12 col-md-9 col-lg-12 p-4">
    <h1>Users Profile</h1>
    {{if .Profiles}}
    {{$UsersPageData := .}}
    <div class="row">

        <div id="flash-message"></div>
        <script>
            document.body.addEventListener("userDeleted", function () {
                document.getElementById("flash-message").innerHTML = `
                    <div class="alert alert-success" role="alert">
                        User successfully deleted
                    </div>
                `;
            });
        </script>

        {{range .Cards}}
        {{template "user-card" .}}

        {{end}}
    </div>
    {{else}}
    <p>Users not found.</p>
    {{end}}
</section>
{{end}}