{{define "stats"}} 
<div class="col-12 col-lg-7 mb-3">
    <div class="card shadow-sm border-0">
        <div class="card-body">

            <h5 class="card-title mb-4">Statistics</h5>

            {{if eq .CurrentUserRole "admin"}}
                <!-- USERS -->
                <div class="mb-4">
                    <div class="text-muted small text-uppercase mb-2">Users</div>
                    <div class="row g-3">
                        {{if .Stats.UserStats}}
                            {{range .Stats.UserStats}}
                                <div class="col-3">
                                    <div class="p-3 bg-light rounded-3 text-center h-100">
                                        <div class="fw-bold fs-4">{{.Count}}</div>
                                        <div class="small text-muted">{{.Role}}</div>
                                    </div>
                                </div>
                            {{end}}
                        {{end}}

                        <div class="col-3">
                            <div class="p-3 bg-danger-subtle rounded-3 text-center h-100">
                                <div class="fw-bold fs-4 text-danger">{{.Stats.Banned}}</div>
                                <div class="small text-muted">Banned</div>
                            </div>
                        </div>

                    </div>
                </div>

                <hr class="my-4">
            {{end}}
            <!-- POSTS -->
            <div>
                <div class="text-muted small text-uppercase mb-2">Posts</div>

                <div class="row g-3">
                    {{if .Stats.PostStats}}
                        {{range .Stats.PostStats}}
                            <div class="col-6">
                                <div class="p-3 bg-success-subtle rounded-3 text-center h-100">
                                    <div class="fw-bold fs-4 text-success">{{.Published}}</div>
                                    <div class="small text-muted">Published</div>
                                </div>
                            </div>
                        

                            <div class="col-6">
                                <div class="p-3 bg-warning-subtle rounded-3 text-center h-100">
                                    <div class="fw-bold fs-4 text-warning">{{.Pending}}</div>
                                    <div class="small text-muted">Pending</div>
                                </div>
                            </div>
                        {{end}}
                    {{end}}
                </div>
            </div>

        </div>
    </div>

    {{if eq .CurrentUserRole "admin"}}
        {{template "logins" .Logins}}
    {{end}}
</div>

{{end}}