{{define "user-card"}}
<div id="user-{{.Profiles.User.Id}}" class="col-12 col-lg-5 mb-3">
    <div id="flash-message"></div>
    <script>
        document.body.addEventListener("userDeleted", function () {
            document.getElementById("flash-message").innerHTML = `
                <div class="alert alert-success" role="alert">
                    User successfully deleted
                </div>
            `;
        });
    </script>
    <div class="card shadow-sm border-0 mb-6">
        <div class="card-body">
            <!-- HEADER -->
            <div class="d-flex justify-content-between align-items-start mb-3">
            
            <div>
                <h5 class="card-title mb-1">{{.Profiles.User.Name}}</h5>
                <div class="text-muted small">{{.Profiles.User.Email}}</div>
            </div>

            <!-- BANNED STATUS -->
            <div id="div-badge-{{.Profiles.User.Id}}" style="text-align: end;">
                <span class="badge text-bg-{{if .Profiles.User.Banned}}danger{{else}}success{{end}}" >
                    {{if .Profiles.User.Banned}} Banned  {{else}} Active {{end}}
                </span>
                <div class="text-muted small">Created At: {{.Profiles.User.CreatedAt.Format "02 Jan 2006"}}</div>
            </div>

            </div>

            <hr>
            <!-- ACTIONS -->
            <div id="actions-btn-{{.Profiles.User.Id}}" class="d-flex gap-2">
                <a
                    hx-get="/panel/profile/{{.Profiles.User.Id}}/name"
                    hx-target="#update-name-modal-container"
                    hx-swap="innerHTML"
                    class="btn btn-outline-primary btn-sm w-100">
                    Update name
                </a>

                {{if .Actions.CanBanUser}}
                    {{if .Profiles.User.Banned}}
                        <a  hx-patch="/panel/profile/{{.Profiles.User.Id}}/unban?view=card"
                            hx-target="#user-{{.Profiles.User.Id}}"
                            hx-swap="outerHTML"
                            class="btn btn-outline-secondary btn-sm w-100">
                            Unban
                        </a>
                    {{else}}
                        <a  hx-patch="/panel/profile/{{.Profiles.User.Id}}/ban?view=card"
                            hx-target="#user-{{.Profiles.User.Id}}"
                            hx-swap="outerHTML"
                            class="btn btn-outline-secondary btn-sm w-100">
                            Ban
                        </a>
                    {{end}}
                {{end}}
                {{if .Actions.CanDeleteUser}}
                <a  hx-get="/panel/profile/{{.Profiles.User.Id}}/delete-confirm"
                    hx-target="#confirm-delete-user-modal-container"
                    hx-swap="innerHTML"
                    class="btn btn-outline-danger btn-sm w-100">
                    Delete
                </a>
                {{end}}
            </div>
        </div>
    </div>
    
    
</div>

{{end}}